.suspension-ball {
      background: rgb(19, 167, 19);
      color: white;
      width: 50px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
      /* 过渡效果在IE下展示效果不友好 */
      transition: all 0.08s;
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      
      transform: translate3d(-50%, -50%, 0);
    }